<!DOCTYPE html>
<html lang="es">
<head th:replace="fragment/head::head">
<meta charset="UTF-8">
</head>
<nav th:fragment="menu" class="navbar navbar-expand-sm bg-dark navbar-dark ">

<a sec:authorize="hasRole('ROLE_USER')"class="navbar-brand" th:href="@{/usuario}">Inicio</a>
<a sec:authorize="hasRole('ROLE_ADMIN')"class="navbar-brand" th:href="@{/administrador}">Inicio</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    	
      <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item">
        <a class="nav-link" th:href="@{/crearPelicula}">Agregar Pelicula</a>
      </li>
      <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item">
        <a class="nav-link" th:href="@{/usuarios}">Usuarios</a>
      </li>
                                                
      <li sec:authorize="hasRole('ROLE_USER')"class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Genero
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a th:each="genero : ${generos}"class="dropdown-item" th:href="@{/genero(genero=${genero.nombre})}" th:text="${genero.nombre}">p</a>         
        </div>
      </li>
      <li sec:authorize="hasRole('ROLE_USER')" class="nav-item">
        <a class="nav-link" th:href="@{/favoritos}">Favoritos</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" th:action="@{/logout}" method="post">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Cerrar Sesion</button>
    </form>
  </div>
</nav>
</html>