<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Peliculas</title>
</head>
<body>
<table class="table table-hover" th:fragment="tablaPeliculas" >
	<thead class="bg-info">
		<tr>
			<th>ID</th>
			<th>Titulo</th>
			<th>Descripcion</th>
			<th>Idioma</th>
			<th>Genero</th>
			<th>Acciones</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="pelicula : ${peliculas}">
  			<td th:text="${pelicula.idPelicula}"></td>
  			<td th:text="${pelicula.titulo}"></td>
  			<td th:text="${pelicula.descripcion}"></td>
  			<td th:text="${pelicula.idiomas}"></td>
  			<td th:text="${pelicula.genero.nombre}"></td>
  			<td>
	  			<div sec:authorize="hasRole('ROLE_ADMIN')">
	  				<a class="btn btn-danger"th:href="@{/eliminarPelicula(id=${pelicula.idPelicula})}">Eliminar</a>
	  				<a class="btn btn-primary"th:href="@{/editarPelicula(id=${pelicula.idPelicula})}">Editar</a>
	  			</div>
	  			<div sec:authorize="hasRole('ROLE_USER')">
	  				<a th:if="${favorito}"class="btn btn-primary"th:href="@{/agregarFavorito(id=${pelicula.idPelicula})}">Agregar Favorito</a>
	  				<a th:unless="${favorito}"class="btn btn-danger"th:href="@{/eliminarFavorito(id=${pelicula.idPelicula})}">Eliminar Favorito</a>
	  			</div>
  			</td>
  		</tr>
	</tbody>
</table>
<table class="table table-hover" th:fragment="tablaFavoritos" >
	<thead class="thead-success">
		<tr>
			<th>ID</th>
			<th>Titulo</th>
			<th>Descripcion</th>
			<th>Idioma</th>
			<th>Genero</th>
			<th>Acciones</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="pelicula : ${peliculas}">
  			<td th:text="${pelicula.idPelicula}"></td>
  			<td th:text="${pelicula.titulo}"></td>
  			<td th:text="${pelicula.descripcion}"></td>
  			<td th:text="${pelicula.idiomas}"></td>
  			<td th:text="${pelicula.genero.nombre}"></td>
  			<td>
  				<a class="btn btn-danger"th:href="@{/eliminarFavorito(id=${pelicula.idPelicula})}">Eliminar Favorito</a>	  			
  			</td>
  		</tr>
	</tbody>
</table>
<table class="table table-hover" th:fragment="tablaUsuarios" >
	<thead class="bg-success">
		<tr>
			<th>ID</th>
			<th>Username</th>		
			<th>Nombre</th>
			<th>Apellido</th>
			<th>Telefono</th>
			<th>Rol</th>
			<th>Estado</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="usuario : ${usuarios}">
  			<td th:text="${usuario.id}"></td>
  			<td th:text="${usuario.username}"></td>
  			<td th:text="${usuario.nombre}"></td>
  			<td th:text="${usuario.apellido}"></td>
  			<td th:text="${usuario.telefono}"></td>
  			<td th:text="${usuario.roles()}"></td>
  			<td th:text="${usuario.enabled}"></td>
  			<td>
  				<a th:if="${usuario.enabled}"class="btn btn-danger"   th:href="@{/bloquearUsuario(id=${usuario.id})}" >Bloquear</a>
  				<a th:unless="${usuario.enabled}"class="btn btn-success"   th:href="@{/desbloquearUsuario(id=${usuario.id})}" >Desbloquear</a>
  			</td>
  		</tr>
	</tbody>
</table>
</body>
</html>