<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Peliculas</title>
</head>
<body>
<table class="table table-hover" th:fragment="tablaPeliculas" >
	<thead class="thead-dark">
		<tr>
			<td>ID</td>
			<td>Titulo</td>
			<td>Descripcion</td>
			<td>Idioma</td>
			<td>Genero</td>
			<td>Acciones</td>
		</tr>
	</thead>
	<tbody>
		<tr th:each="pelicula : ${peliculas}">
  			<td th:text="${pelicula.idPelicula}"></td>
  			<td th:text="${pelicula.titulo}"></td>
  			<td th:text="${pelicula.descripcion}"></td>
  			<td th:text="${pelicula.idiomas}"></td>
  			<td th:text="${pelicula.genero.nombre}"></td>
  			<td>
	  			<div sec:authorize="hasRole('ROLE_ADMIN')">
	  				<a class="btn btn-danger"th:href="@{/eliminarPelicula(id=${pelicula.idPelicula})}">Eliminar</a>
	  				<a class="btn btn-primary"th:href="@{/editarPelicula(id=${pelicula.idPelicula})}">Editar</a>
	  			</div>
	  			<div sec:authorize="hasRole('ROLE_USER')">
	  				<a class="btn btn-danger"th:href="@{/agregarFavorito(id=${pelicula.idPelicula})}">Agregar Favorito</a>
	  				<a class="btn btn-primary"th:href="@{/eliminarFavorito(id=${pelicula.idPelicula})}">Eliminar Favorito</a>
	  			</div>
  			</td>
  		</tr>
	</tbody>
</table>
<table class="table table-hover" th:fragment="tablaUsuarios" >
	<thead>
		<tr>
			<td>ID</td>
			<td>Username</td>
			<td>Password</td>
		</tr>
	</thead>
	<tbody>
		<tr th:each="pelicula : ${usuarios}">
  			<td th:text="${pelicula.id}"></td>
  			<td th:text="${pelicula.username}"></td>
  			<td th:text="${pelicula.password}"></td>
  			<td>
  				<a class="btn btn-danger"th:href="@{/eliminarPelicula(id=${pelicula.id})}">Eliminar</a>
  				<a class="btn btn-primary"th:href="@{/editarPelicula(id=${pelicula.id})}">Editar</a>
  			</td>
  		</tr>
	</tbody>
</table>
</body>
</html>