<!DOCTYPE html>
<html lang="es">
<head th:fragment="head">
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
<title>Pelicsssssulas</title>
</head>
<body>
	<nav th:replace="@{menu}::nav"></nav>
	<table class="table table-bordered ">
		<thead>
			<tr>
				<th>Titulo</th>
				<th>Idioma</th>
                <th>Descripción</th>
                <th>Genero</th>
                <th>Acciones</th>
			</tr>
		</thead>
		<tbody th:each="pelicula :${peliculas}">
			<tr>
				<td th:text="${pelicula.titulo}"></td>
				<td th:text="${pelicula.idiomas}"></td>
                <td th:text="${pelicula.descripcion}"></td>
                <td th:text="${pelicula.genero.nombre}"></td>
                <td>
                	<a href="" th:href="@{/editarPelicula(id=${pelicula.idPelicula})}">
                    	<button class="btn btn-primary">Editar</button>
                    </a>
                    <a href="" th:href="@{/eliminarPelicula(id=${pelicula.idPelicula})}">
                    	<button class="btn btn-danger">Eliminar</button>
                    </a>                                     
                </td>
            </tr>
		</tbody>
	</table>
	<a href="" th:href="@{/crearPelicula}">
	<button class="btn btn-primary btn-lg">Agregar Pelicula</button>
	</a>
</body>
</html>