<!DOCTYPE html>
<html lang="es">
<head th:replace="fragment/head::head">
</head>
<body>
	<nav th:replace="fragment/menu::menu">
	</nav>
	    
	
	<div class="container">
    <form class="border border-light p-5"th:action="@{/guardarPelicula}" th:object="${pelicula}" method="POST">
    	<p class="h4 mb-4 text-center"th:if="${existe}">La pelicula ya existe</p>
    	
    	<input type="hidden" th:field= "*{idPelicula}">
		
		<p th:if="${#fields.hasErrors('titulo')}" th:errors="*{titulo}"></p>
		<input type="text" class="form-control mb-4" th:field="*{titulo}" placeholder="Titulo" >
		
        
		<p th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}"></p>
		<input type="text" class="form-control mb-4"th:field="*{descripcion}" placeholder="Descripcion">
        
        
	    <p th:if="${#fields.hasErrors('idiomas')}" th:errors="*{idiomas}"></p>
		<input type="text" class="form-control mb-4"th:field="*{idiomas}" placeholder="Idioma">
	        
        
        <div class="form-group mb-4">
        	<label >Generos</label>
        	<select class="form-control"th:field="*{genero}">
        		<option th:each="genero: ${generos}"
        		th:value="${genero.idGenero}"
        		th:text="${genero.nombre}">
        		</option>
        	</select>
        </div>    
        <button class="btn btn-primary btn-block mb-4"type="submit" value="enviar">Enviar</button>
    	<a th:href="@{/cancel}"><button class="btn btn-danger btn-block" type="button">Volver</button></a>
    </form>
</div>
</body>
</html>