<!DOCTYPE html>
<html lang="es">
<head th:replace="@{head}::head">
</head>
<body>
	<span th:if="${existe}">La pelicula ya existe</span>
    <form th:action="@{/guardarPelicula}" th:object="${pelicula}" method="POST">
    	<input type="hidden" th:field= "*{idPelicula}">
        <div class="form-group">
		<label>Titulo</label>
        <input type="text" class="form-control" th:field="*{titulo}" >
        <span th:if="${#fields.hasErrors('titulo')}" th:errors="*{titulo}"></span>
        </div>
        <div>
        <label>Descripcion</label>
        <input type="text" class="form-control"th:field="*{descripcion}">
        <span th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}"></span>
        </div>
        <div>
        <label>Idiomas</label>
        <input type="text" class="form-control"th:field="*{idiomas}">
        <span th:if="${#fields.hasErrors('idiomas')}" th:errors="*{idiomas}"></span>
        </div>    
        <button class="btn btn-primary btn-lg"type="submit" value="enviar">Enviar</button>
    </form>
        <a th:href="@{/cancel}">
      		<button class="btn btn-danger btn-lg">Cancel</button>    
        </a>
</body>
</html>