<!DOCTYPE html>
<html>
<head th:replace="fragment/head::head">
<meta charset="UTF-8">
<title>Registro</title>
</head>
<body>
<div class="container">
	<form class="border border-light p-5" th:action="@{/guardarUsuario}" th:object="${usuario}"method="post">
		<p class="h4 mb-4 text-center">Registrar</p>
		<input type="text" class="form-control mb-4" placeholder="Username"name="username" th:field="*{username}"> 
		<input type="text"class="form-control mb-4" placeholder="Contraseña" name="password" th:field="*{password}">
		<input type="text"class="form-control mb-4" placeholder="Nombre" name="nombre" th:field="*{nombre}">
		<input type="text"class="form-control mb-4" placeholder="Apellido" name="apellido" th:field="*{apellido}">
		<input type="text"class="form-control mb-4" placeholder="Telefono" name="telefono" th:field="*{telefono}">
		<button class="btn btn-info btn-block my-4" type="submit">Registrar</button>
		<button class="btn btn-info btn-block my-4" type="reset">Reset</button>
	</form>
</div>
</body>
</html>